
.nav1{
    text-align: center;
    margin:auto;
    display:flex;
    padding:20px;
    justify-content: center;
    border: 5px;
    border-color: black;
    font-weight: bold;
    font-size: larger;
    max-width: 1317px;
}
body{
    background-color: white;
    margin: 0;
}

.footer {
    background-color: #3a3a3a; /* Dark background color */
    color: #e2e2e2; /* Light text color */
    padding: 20px;
    text-align: center;
    margin-top:300px;
}

.footer-content p {
    text-align: center;
    margin: 0;
    font-size: 1em;
}
.iimg{
    width: 300px;
} 

.main{
    width: 80%;
    background-color: white;
    margin: 0 auto;
    padding: 12px;
}

.links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
   
    font-size: 58px;
    margin: 40px;
}

img{
    
}

.img2{
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
  margin-right: auto;
}

.iimg{
    
}

h4{
    margin: 10px;
}

.dis{
    display: flex;
    justify-content:center;
    margin-bottom: 80px;
}

.category{
    flex-basis: 1;
    width: 150px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.sazetak{
    text-align: center;
    font-weight: bold;
}

.tekst_body{
    text-align:justify;
}

p{
    text-align: justify;
}

