
.naslov{
    text-align: center;
    padding: 10px;
}
.nav1{
    text-align: center;
    margin:auto;
    display:flex;
    padding:20px;
    justify-content: center;
    border: 5px;
    border-color: black;
    font-weight: bold;
    font-size: larger;
    max-width: 1317px;
}
.mali{
    background-color: black;
    padding: 10px;
}
section{
    width:50%;
    margin: auto;
    padding:20px;
}
.title{
    text-align: center;
}
.section-content{
    display:flex;
    gap: 20px;
}
.article{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.article img {
    width: 100%;
    height: auto;
    max-height: 200px;  /* Set a maximum height for the images */
    object-fit: cover;  /* Ensure the image covers the specified height while maintaining aspect ratio */
}
.article p{
    text-align: center;
}
h3{
    text-align: center;
    background-color: rgb(8, 8, 8);
    color: white;
}
.article h4{
    text-align: center;
}
.footer {
    background-color: #3a3a3a; /* Dark background color */
    color: #e2e2e2; /* Light text color */
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    
}

.footer-content p {
    margin: 0;
    font-size: 1em;
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
}
.form-container h3 {
    padding:200px;
}
.jbg{
    padding: 80px;
    background-color: white;
}